<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hợp Đồng Cầm Đồ</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
      }
      body {
        font-family: Arial, sans-serif;
      }

      .invoice-container {
        width: 800px;
        margin: auto;
        /* border: 1px solid #000; */
        padding: 30px 50px;
      }

      .header {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }

      .header div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
      }

      .customer-info {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.6;
      }

      .customer-info div:first-child {
        display: flex;
        justify-content: space-between;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }

      table,
      th,
      td {
        border: 1px solid black;
      }

      th,
      td {
        text-align: center;
        padding: 5px;
        font-size: 16px;
      }

      .agreement {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.6;
      }

      .footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }

      .footer p {
        text-align: center;
      }

      .footer div {
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
        align-items: center;
      }

      .footer .signature {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
      }

      .signature div {
        text-align: center;
        width: 30%;
      }
      img {
        width: 200px;
        height: 150px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <% let total = 0; %>
    <div class="invoice-container">
      <div class="header">
        <div>
          <h3>CỦA HÀNG CẦM ĐỒ</h3>
          <h3>
            <strong> ĐT: 0977.062.264 </strong>
          </h3>
          <h4>ĐC: 17 Phú Kiều, HN</h4>
        </div>
        <div>
          <h3>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h3>
          <h3>Độc lập - Tự do - Hạnh phúc</h3>
          <p>
            <strong> ----------oOo---------- </strong>
          </p>
          <p>Hà Nội, Ngày.....tháng.....năm 20.....</p>
          <h1>HỢP ĐỒNG CẦM ĐỒ</h1>
          <h2>(Kiêm phiếu chi tiết)</h2>
        </div>
      </div>

      <div class="customer-info">
        <div>
          <p>
            Họ và tên: <% if (customer_id && customer_id.name &&
            customer_id.name.trim() !== '') { %>
            <strong><%= customer_id.name %></strong> <% } else { %> <% } %>
          </p>
          <p>Đại diện đến cầm đồ</p>
        </div>
        <p>
          Địa chỉ: <% if (customer_id && customer_id.address &&
          customer_id.address.trim() !== '') { %>
          <strong><%= customer_id.address %></strong> <% } else { %> <% } %>
        </p>
        <p>
          Số CCCD (hoặc giấy tờ tùy thân khác): <% if (customer_id &&
          customer_id.identity_card) { %>
          <strong><%= customer_id.identity_card %></strong> <% } else { %> <% }
          %>
        </p>
        <p>
          SĐT: <% if (customer_id && customer_id.phone_number) { %>
          <strong><%= customer_id.phone_number %></strong> <% } else { %> <% }
          %>
        </p>
      </div>
      <p>Tôi xin thỏa thuận tự nguyện đặt đồ vật và tài sản kê sau đây:</p>
      <table>
        <thead>
          <tr>
            <th>STT</th>
            <!-- <th>Hình ảnh</th> -->
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Lãi suất(/1 tháng)</th>
            <th>Giá cầm</th>
            <th>Ngày cầm</th>
            <th>Hạn chuộc</th>
            <th>Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < products.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= products[i].product_id.product_name %></td>
            <td><%= products[i].product_id.product_quantity %></td>
            <td><%= products[i].product_id.interest_rate + "%" %></td>
            <td>
              <%=
              (products[i].product_id.estimated_value).toLocaleString('vi-VN')
              %>
            </td>
            <td>
              <%= getTime(products[i].product_id.pawn_date) %>/<%=
              getTime(products[i].product_id.pawn_date, 'month') %>/<%=
              getTime(products[i].product_id.pawn_date, 'year') %>
            </td>
            <td>
              <%= getTime(products[i].product_id.term) %>/<%=
              getTime(products[i].product_id.term, 'month') %>/<%=
              getTime(products[i].product_id.term, 'year') %>
            </td>
            <td>
              <%= (products[i].product_id.product_quantity *
              products[i].product_id.estimated_value).toLocaleString('vi-VN') %>
            </td>
          </tr>
          <% total += products[i].product_id.estimated_value *
          products[i].product_id.product_quantity; %> <% } %>
        </tbody>
      </table>
      <div class="agreement">
        <p>Tôi đã nhận đủ số tiền mà cửa hàng đã giao</p>
        <p>Số tiền biết bằng chữ:</p>
        <p>
          Số tiền viết bằng số:
          <strong><%= total.toLocaleString('vi-VN') %> đ</strong>
        </p>
        <ul></ul>
        <p>
          Hiệu cầm đồ được quyền quản lý, điều động khi cần thiết, khi hết hạn
          mà không có tiền chuộc lại, tôi đồng ý bán đồ vật cầm, ngang bằng số
          tiền tôi nhận từ cửa hàng.
        </p>
        <ul>
          <li>Cửa hàng có quyền bán(thu vốn)</li>
          <li>Lời thì cửa hàng hưởng</li>
          <li>Lỗ thì cửa hàng phải chịu</li>
        </ul>
        <p>Tôi không hề thắc mắc, khiếu kiện nhờ cậy ai.</p>
        <p>
          Số tài sản tôi mang cầm chính là tài sản của tôi. Quyền định đoạt cao
          nhất là tôi, số tài sản này không tranh chấp hoặc cầm cố bất kỳ cá
          nhân, tổ chức hoặc Ngân hàng nào.
        </p>
        <p>
          Nếu có điều gì man trá, sai trái tôi xin chịu trách nhiệm trước Pháp
          luật Nhà nước.
        </p>
      </div>
      <div class="footer">
        <p style="text-align: center">
          <strong style="text-align: center">Phụ trách cửa hàng</strong>
        </p>
        <div>
          <p style="text-align: center">Ngày.....tháng.....năm 20.....</p>
          <p style="text-align: center"><strong>Người nhận tiền</strong></p>
          <span style="text-align: center">(Ký, ghi rõ họ tên)</span>
        </div>
      </div>
    </div>
  </body>
</html>
